@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.fi {
    position: static;
    display: inline-block;
    width: 1.333333em;
    line-height: 1em;
}
